.loading {
  display: none;
}

.success {
  display: none;
}

.error {
  display: none;
}

@view-transition {
  navigation: auto;
}

.bottom {
  font-size: 20px;
  font-weight: bold;
}

/* Footer style */
.footer {
  background-color: #2d3748;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
